body {
  font-family: 'Assistant', sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
}

.header {
  background-color: #003f5c;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.content {
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 1.5em;
  background: white;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
}

li a {
  text-decoration: none;
  color: #0072ff;
  transition: color 0.3s ease;
}

li:hover {
  background: #e0f7fa;
}

li a:hover {
  color: #004d40;
}

.game:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 10;
  white-space: nowrap;
  right: 20px;
  top: 40px;
  border-radius: 4px;
}
